body {
    margin: 0;
    padding: 0;
    font-size: system-ui;
    font-family: sans-serif;
    background: hsl(200 50% 5%);
    display: grid;
    place-items: left;
}

.content {
    display: inline-grid;
    place-items: center;
    position: relative;
    padding: 18em 3em;
    color: #fff;
}